<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Read Later</string>
	<key>Entities</key>
	<dict>
		<key>com.fluxforge.readlater.Bookmark</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>added</string>
			<string>URL</string>
			<string>lastVisited</string>
			<string>visited</string>
			<string>siteTitle</string>
			<string>note</string>
		</array>
	</dict>
	<key>Type</key>
	<string>app</string>
</dict>
</plist>
